* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  color: #eee;
  font-family: system-ui;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #222;
  margin: 4px;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  transition: all 0.5s ease;
}
input:focus {
  background-color: #111;
  transform: scale(1.04);
}
.price input {
  width: 20%;
}
#total {
  background-color: #a00d02;
  padding: 5px 2px;
  border-radius: 5px;
}
#total::before {
  content: "Total: ";
}
button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #47005f;
  color: #fff;
  transition: 0.5s;
  text-transform: capitalize;
}
button:hover {
  background-color: #470066;
  letter-spacing: 1px;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.table {
  overflow: hidden;
  overflow-x: scroll;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
#deleteAll {
  margin: 20px 0;
}


.input {
    background-color: #dddddd;
    color: #111;
}
.input:focus {
    background-color: #bbb;
    transform: scale(1.04);
}

.body {
    background-color: white;
    color: #111;
}
.button {
    background-color: #9b02ce !important;
}
.button:hover{
    background-color: #9b02bb !important;
}

.small {
color: #f3f3f3;
}
#lightDarkModeBtn {
    padding: 6px;
    width: 20%;
    height: 50px;
    position: absolute;
    left: 10%;
    display: flex;
    background-color: #aaa !important;
    transition: right 2s;
    z-index: 1;
    cursor: pointer;
}
@keyframes sun {
    from {left: 10%; transform: rotate(0deg);}
    to {left: 70%; transform: rotate(360deg);}
}

#sun {
    position: absolute;
    left: 10%;
    animation-name: sun;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes moon {
    from {left: 70%; transform: rotate(360deg);}
    to {left: 10%; transform: rotate(0deg);}
}

#moon {
    position: absolute;
    left: 70%;
    animation-name: moon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#sun, #moon {
    font-size: 36px;
}
@media (max-width: 600px) {
    #sun, #moon {
        font-size: 25px;
    }
    #lightDarkModeBtn{
        height: 40px;
    }
    @keyframes sun {
        from {left: 10%; transform: rotate(0deg);}
        to {left: 65%; transform: rotate(360deg);}
    }
    #sun {
        position: absolute;
        left: 10%;
        animation-name: sun;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes moon {
        from {left: 65%; transform: rotate(360deg);}
        to {left: 10%; transform: rotate(0deg);}
    }
    #moon {
        position: absolute;
        left: 65%;
        animation-name: moon;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
@media (max-width: 400px) {
    @keyframes sun {
        from {left: 10%; transform: rotate(0deg);}
        to {left: 50%; transform: rotate(360deg);}
    }
    #sun {
        position: absolute;
        left: 10%;
        animation-name: sun;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    @keyframes moon {
        from {left: 50%; transform: rotate(360deg);}
        to {left: 10%; transform: rotate(0deg);}
    }
    #moon {
        position: absolute;
        left: 50%;
        animation-name: moon;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
